name: Auto Approve Crowdin PR

on:
  pull_request:
    branches:
      - main

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      # 检查 PR 来源分支是否为 l10n_main
      - name: Check PR Source
        id: check-source
        run: |
          if [[ "${{ github.event.pull_request.head.ref }}" != "l10n_main" ]]; then
            echo "Not from l10n_main branch. Skipping approval."
            exit 0
          fi

      # 检查 PR 作者是否为 Randark-JMT
      - name: Check PR Author
        id: check-author
        run: |
          if [[ "${{ github.event.pull_request.user.login }}" != "Randark-JMT" ]]; then
            echo "Not created by Randark-JMT. Skipping approval."
            exit 0
          fi

      # 自动批准 PR
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
